<header class="header-bar" style="left: 0px;">
  <div class="bottom">

    <div class="center">

      <div class="logo">

        <a href="http://martaniandemo.com/wordpress/psychological-practice">

          <img src="assets/images/logo.png"
            alt="Psychological Practice">

        </a>

      </div>

      <nav class="top-menu">

        <div>
          <ul>
            <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page" routerLinkActive="current-menu-item" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/">Home</a>
            </li>
            <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page" routerLinkActive="current-menu-item">
              <a routerLink="/cat">Go to cat</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="responsive-menu-button">
        <i class="fa fa-bars"></i>
      </div>

    </div>

  </div>

</header>
<div class="wrapper">
  <app-gallery></app-gallery>
  <router-outlet></router-outlet>
</div>
